@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    body::-webkit-scrollbar {
        display: none;
    }

    body {
        background: #000;
    }

    .custom-container {
        position: relative;
        height: 100vh;
    }

    canvas {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 100vw;
        max-height: 100vh;
    }

    .top,
    .bottom {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        background-color: #333;
        height: 70vh;
        padding: 20px;
        font-size: 24px;
        color: white;
    }

    .bottom {
        height: 150vh;
    }
}