@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    body::-webkit-scrollbar {
        display: none;
    }

    body {
        background: #000;
    }

    .custom-container {
        position: relative;
        height: 400vh;
    }

    canvas {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 100vw;
        max-height: 100vh;
    }

    /* For .sec section */
    .sec {
        @apply relative bg-white p-20;
        /* Adjust padding as needed */
    }

}